* {
  box-sizing: border-box;
  font-size: 120%;
}

h1, h2 {
  font-family: "Mountains of Christmas", serif;
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-family: "Mountains of Christmas", serif;
  font-weight: 700;
  font-style: normal;
}

.container {
  display: flex;
  justify-content: center;
}

.content {
  flex-basis: content;
}