* {
  box-sizing: border-box;
  font-size: 18px;

  @media (min-width: 700px) {
    font-size: 24px;
  }
}

body,html{
  margin: 0;
  padding: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
}

ul {
  margin-bottom: 5px;
}

li {
  list-style: none;
}

h1, h2 {
  font-family: "Mountains of Christmas", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.8em;
}

h3 {
  font-family: "Mountains of Christmas", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5em;
}

.container {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.content {
  flex-shrink: 1;
}